<h1>Welcome To The SHOW List Page</h1>

 Show/Edit List

 Figure out how to show whole list properly

<%= @list.title %>
<%= @list.text %>
<%= @list.text %>
<%= @list.text %>
<%= @list.text %>
<%= @list.text %>
<%= @list.text %>
<%= @list.text %>

  ADD Edit/Destroy Button