<h1>Welcome To The SHOW List Page</h1>

 Show/Edit List

 Figure out how to show whole list properly
 BStrap Form Template?

<div class="list-title">
<%= @list.title %>
<div> <!-- list-title -->

<div class="list-todo">
<%= @list.todo %>
<div> <!-- list-todo -->

<div class="list-todo">
<%= @list.todo %>
<!-- list-todo -->

<div class="list-todo">
<%= @list.todo %>
<!-- list-todo -->

<div class="list-todo">
<%= @list.todo %>
<!-- list-todo -->

<div class="list-todo">
<%= @list.todo %>
<!-- list-todo -->

  ADD Edit/Destroy Button