<!DOCTYPE html>
<html>
<head>
  <title>EmergencyApp</title>

  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <!-- <script type="javascript" src="/messages.js"></script> -->

<!-- uploadcare -->
  <script src="https://ucarecdn.com/widget/2.9.0/uploadcare/uploadcare.full.min.js" charset="utf-8"></script>
  <script>
    UPLOADCARE_PUBLIC_KEY = 'ed3f60635146e3ae8064';
  </script>

</head>
<body>

<% if !session[:user_id].nil? %>
</nav> 
<ul class="nav nav-tabs">
  <li class="tab-link"><%= link_to "Home", "/" %></li>
  <li class="tab-link"><%= link_to "Create A New Message", '/messages/new' %></li>
  <li class="tab-link"><%= link_to "Events", events_path %></li>
  <li class="tab-link"><%= link_to "Contacts", contacts_path %></li>
  <li class="tab-link"><%= button_to "Sign Out", "/sessions", :method => :delete, :class => 'black-button logout-btn' %></li>
</ul>
<% end %>
<% else %>
  <% if session[:user_id].nil? %>
  </nav> 
  <ul class="nav nav-tabs">
  <li class="tab-link"><%= link_to "Home", url: "/" %></li>
  <li class="tab-link"><%= link_to "Sign Up", new_user_path %></li>
  <li class="tab-link"><%= link_to "Sign-In", signin_path %></li>
</ul>
<% end %>

<!-- Application ERB Working! -->

<%= yield %>


<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script> -->
</body>
</html>
