<h1 class="marg-h1">Welcome To The Sign Up Page</h1>

<div id="sign-up-form">
  <%= form_for @user, url: users_path, :class => "form-group text-center", method: :post do |f| %>

  
    <%= f.text_field :first_name, placeholder: "First Name", :class => "form-control"  %>


    <%= f.text_field :last_name, placeholder: "Last Name", :class => "form-control" %>

  
    <%= f.text_field :email, placeholder: "Email", :class => "form-control" %>



    <%= f.password_field :password, placeholder: "Password", :class => "form-control" %>



  <%= f.submit "Sign Up", :class => 'btn-success' %>

  
<% end %>
</div>

