<h1>User Profile</h1>
    

<!-- Show/Edit/Destroy User -->

    <div class="first-name"> 
    <%= @user.first_name %>
    </div> <!-- first-name -->

    <div class="last-name"> 
	<%= @user.last_name %>
	</div> <!-- last-name -->

	<div class="email"> 
	<%= @user.email %>
	</div> <!-- email -->

	<div class="location"> 
	<%= @user.location %>
	</div> <!-- location -->

	<div class="number"> 
	<%= @user.number %>
	</div> <!-- number -->

    <div class="image"> 
	<%= @user.image %>
	</div> <!-- image -->


 <%= button_to 'Edit', edit_user_path(@user), :method => :get %>
 

  <button type="button" class="homeButton"><a class='homeButtonText' href='/'>Home Page</a></button>
  
  <!-- ADD Edit/Destroy Button
  Add Twilio number? -->

  <input class='showDeleteButton' type="submit" name='_method' value="Delete">