<h1 class="earthquake-h1">Event Name: Earthquake<h1>


<div>

<%= form_for @message, url: messages_path, method: :post do |f| %>
  
     <div class="text">
    <%= f.text_area :text, placeholder: "Type Your Message Here" %> 
    </div><!-- text -->

    <div class="number">
    <%= f.telephone_field :number, placeholder: "Enter Cell Phone Number" %> 
    </div><!-- number -->

  <!-- uploadcare -->
  
  
  <%= f.submit "Send Message", class: 'btn btn-primary send-btn' %>
 

<% end %>

<% @contacts.each do |contact| %>
	<%= "#{contact.first_name} #{contact.last_name}: #{contact.number}" %>
<% end %>
</div>