<h1>Edit Your Contact</h1>


<%= form_for @contact, url: contact_path(@contact), method: :patch do |f| %>

 <div class="first-name"> 
    <%= f.text_field :first_name, placeholder: "First Name" %>
    </div> <!-- first-name -->

    <div class="last-name"> 
	<%= f.text_field :last_name, placeholder: "Last Name" %>
	</div> <!-- last-name -->

	<div class="email"> 
	<%= f.text_field :email, placeholder: "Email" %>
	</div> <!-- email -->

	<div class="number"> 
  <%= f.telephone_field :number, placeholder: "number" %> 
  </div> <!-- number -->

	<!-- add image to model schema and then to private params in controller then here -->

	<%= f.submit "Update Contact" %>

<% end %>


  
