<h1>Contacts</h1>


<div class="container">
 

  
 <table class="table table-striped">

    <thead>
    <tr>
        <th class="th-titles">FIRST NAME</th>
        <th class="th-titles">LAST NAME</th>
        <th class="th-titles">EMAIL</th>
        <th class="th-titles">CELL PHONE NUMER</th>
    </tr>
    </thead> 
    
    
    <tbody>
    <% @contact.each do |contact| %>
      <tr>
        <td class="li-data"><%= contact.first_name %></td>
        <td class="li-data"><%= contact.last_name %></td>
        <td class="li-data"><%= contact.email %></td>
        <td class="li-data"><%= contact.number %></td>
        <td><%= button_to 'Edit', edit_contact_path(@contact), :method => :get %></td>
        <td><input class='showDeleteButton' type="submit" name='_method' value="Delete"></td>
      </tr>  
    <% end %>

    </tbody>
  
  </table> 
</div>
