<h1>Add New Contact</h1> 

New Contact

<%= form_for @contact, url: contacts_path, method: :post do |f| %>
  <div>
  <div>
    <%= f.text_field :first_name, placeholder: "First Name" %>
  </div>
  <div>
    <%= f.text_field :last_name, placeholder: "Last Name" %>
  </div>

  <div class="number"> 
  <%= f.telephone_field :number, placeholder: "number" %> 
  </div> <!-- number -->

  <div>
    <%= f.text_field :email, placeholder: "Email" %>
  </div>
  <div>


<!-- IS THIS AN INTEGAR FIELD -->

    
  <%= f.submit "Add New Contact" %>

<% end %>