<h1>Add A New Contact</h1> 

<div id="new-contact-form">
  <%= form_for @contact, url: contacts_path, method: :post do |f| %>
 
  <div>
    <%= f.text_field :first_name, placeholder: "First Name", :class => "form-control" %>
  </div>
  
  <div>
    <%= f.text_field :last_name, placeholder: "Last Name", :class => "form-control" %>
  </div>

  <div> 
  <%= f.telephone_field :number, placeholder: "Cell Number", :class => "form-control" %> 
  </div>

  <div>
    <%= f.text_field :email, placeholder: "Email", :class => "form-control" %>
  </div>
   
  <div> 
  <%= f.submit "Add New Contact", :class => 'btn-success' %>
  </div>

  <% end %>
</div>