<h1>Welcome To The SHOW A Contact Page</h1>

  Show/Edit/Destroy Contact

    <div class="first-name"> 
    <%= @contact.first_name %>
    </div> <!-- first-name -->

    <div class="last-name"> 
	<%= @contact.last_name %>
	</div> <!-- last-name -->

	<div class="email"> 
	<%= @contact.email %>
	</div> <!-- email -->

	<div class="number"> 
	<%= @contact.number %>
	</div> <!-- number -->

<button type="button" class="btn btn-success"><a id='editButton' href='/contacts/<%= @contact.id %>/edit'>Edit My Profile</a></button>
  
 

  <button type="button" class="homeButton"><a class='homeButtonText' href='/'>Home Page</a></button>
  
  ADD Edit/Destroy Button
