<h1>Your Contact</h1>

  <!-- Show/Edit/Destroy Contact -->

    <div class="first-name"> 
    <%= @contact.first_name %>
    </div> <!-- first-name -->

    <div class="last-name"> 
	<%= @contact.last_name %>
	</div> <!-- last-name -->

	<div class="email"> 
	<%= @contact.email %>
	</div> <!-- email -->

	<div class="number"> 
	<%= @contact.number %>
	</div> <!-- number -->


  
 <%= button_to 'Edit', edit_contact_path(@contact), :method => :get %>
 
 <input class='showDeleteButton' type="submit" name='_method' value="Delete">

  <button type="button" class="homeButton"><a class='homeButtonText' href='/'>Home Page</a></button>
  
